body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.table-striped td, th {
  font-size: xx-large;
  text-align: center;
}

.pager li>a {
  background-color: green;
}

.adder {
  margin-left: 40%;
}