{% extends "base.html" %}
{% load add_css %}
{% block title %}Adding company{% endblock %}
{% block content %}

<div class="container">
  <h2 style="text-align: center";>Companies in system</h2><br><br>
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Name</th>
        <th>Owner</th>
        <th>Sector</th>
        <th>Number of employees</th>
        <th>Added by</th>
      </tr>
    </thead>
    <tbody>
        {% for company in companies %}
            <tr>
                <td>{{ company.name }}</td>
                <td>{{ company.owner }}</td>
                <td>{{ company.sector }}</td>
                <td>{{ company.number_of_employees }}</td>
                <td>{{ company.added_by }}</td>
            </tr>
        {% endfor %}
    </tbody>
  </table>
  <a href="{% url 'add_company' %}" class="btn btn-info btn-lg" role="button">Add company <span class="glyphicon glyphicon-plus"></span>
  </a>
  </button>
  <hr>

  <!--Pagination-->
    <ul class="pager">
        {% with page=companies %}
            {% if page.has_previous %}
            <li class="previous">
                <a href="?page={{ page.previous_page_number }}">&larr; Previous</a>
            </li>
            {% endif %}
            <span class="current">
                Page {{ page.number }} of {{ page.paginator.num_pages }}
            </span>
            {% if page.has_next %}
            <li class="next">
                <a href="?page={{ page.next_page_number }}">&rarr; Next</a>
            </li>
            {% endif %}
        {% endwith %}
    </ul>
</div> <!-- .container -->

{% endblock content %}
